
.main1{
    min-height: 100vh;
    background-image: url("../img/loginpage.jpg");
    /* background-image: url("https://tse3.mm.bing.net/th?id=OIP.SEBR60Abl1PhqfjUbz-g0gHaEK&pid=Api&P=0&h=180"); */
    background-size: cover;
}
  .hi1{
    color: #12268a;
  }
  .hi1:hover{
    color: #a90cc2;
    cursor: pointer;
  }
  .card1{
    border: 3px solid black;
    width: 100vw;
    max-width: 900px;
    margin-top: -0.7%;
    padding: 2%;
    height: 50%;
    box-shadow: 0 18px 25px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-left: 20.7%;
    background-color: rgba(250, 247, 247, 0.7); 
  }
  
  .form1{
    display: flex;
    flex-wrap: wrap;
    font-family: Arial, sans-serif;
    margin-left: 4%;
   
  }
  
  .columns-container1 {
    display: flex;
    flex-direction:row;
    align-items: center;
    gap: 13em;
    margin-top: 2%;
    justify-content: space-between;
  }
  
  .column1 {
    display: flex;
    flex-direction: column;
    gap:1.9rem;
    box-sizing: border-box;
  }
  .column2 {
    display: flex;
    flex-direction: column;
    gap:1.9rem;
    box-sizing: border-box;
  }
  
  
  .input1 {
    width: 150%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgba(235, 235, 235, 0.7)
  }
  
  .button1 {
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button1:hover {
    background-color: #455da0;
  }
  
  @media screen and (min-width: 768px) {
    .column{
      padding-right: 15px;
    }
  
    .column,
    .button1 {
      width: 120%; 
    }
  
    .button1 {
      margin: 0;
    }
  }
    